import React,{FC} from 'react';

export interface {{pascalCase name}}Props{

}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({...props}) =>{
  return (
    <p>This is a {{name}}</p>
  );
}
export default {{pascalCase name}};